body {
    background-image: url("https://www.w3schools.com/css/paper.gif");
}

p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}

p.one {
    border-style: solid;
    border-width: 5px 20px;
    /* 5px top and bottom, 20px on the sides */
}

p.two {
    border-style: solid;
    border-width: 20px 5px;
    /* 20px top and bottom, 5px on the sides */
}

p.three {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
    /* 25px top, 10px right, 4px bottom and 35px left */
}

p.normal {
    border: 2px solid red;
    padding: 5px;
}

p.round1 {
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
}

p.round2 {
    border: 2px solid red;
    border-radius: 8px;
    padding: 5px;
}

p.round3 {
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}

#margin {
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    background-color: lightblue;
}

.h1 {
    margin: 0 0 50px 0;
}

.h2 {
    margin: 20px 0 0 0;
}

#padding {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.boxModel {
    background-color: #d3fd15;
}

#box1 {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#box2 {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.text {
    border: 1px solid gray;
    padding: 8px;
}

.text h1 {
    text-align: center;
    text-transform: uppercase;
    color: #3d01ca;
}

.text p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

.text a {
    text-decoration: none;
    color: #3d01ca;
}

.align h1 {
    text-align: center;
}

.align h2 {
    text-align: left;
}

.align h3 {
    text-align: right;
}

.decor h1 {
    text-decoration: overline;
}

.decor h2 {
    text-decoration: line-through;
}

.decor h3 {
    text-decoration: underline;
}

.decor p.ex {
    text-decoration: overline underline;
}

p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

p.a {
    font: 20px Arial, sans-serif;
}

p.b {
    font: italic small-caps bold 12px/30px Georgia, serif;
}

.fontPairing {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: gray;
}

.fontPairing h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    color: white;
}